#page{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#bg{
    background-color: rgb(75, 96, 117);
    padding-left: 6vw;
    padding-right: 6vw;
    color :white;
}

h2{
    color: darkkhaki;
}

.title{
    padding-left: 1vw;
}

.title1{
    font: bold;
}

.title2 i{
    opacity: 0.9;
}

input{
    width: 20vw;
    height: 2.4vw;
}
button{
    width: 7vw;
    height: 2.8vw;
    background-color: darkkhaki;
    border: 0 solid white;
    font-size: 1vw;
    color: white;
    margin-left: 0.9vw;
}

#sec{
    display: flex;
    justify-content: space-between;
}
#searchbar{
    display: flex;
    justify-content:space-between;
    gap: 30vw;
    padding-bottom: 10vh;
}
#sec p{
    padding-left: 2vw;
    padding-right: 2vw;
}

#heading{
    width: 40%;
}

#searchtext{
    width: 60%;
}

#heading p{
    font-weight:600;
    font-size: 40px;  
}

#mid{
    display: flex;
    flex-wrap: wrap;
    padding-top: 12vh;
    padding-bottom: 12vh;
    padding-left: 6vw;
    padding-right: 6vw;
    background-color: oldlace;
    color: rgb(75, 96, 117);
}

#desc{
    display: flex;
    width : 65%;
}

#desc-left{
    position: relative;
    margin-top: 70px;
    margin-left: 30px;
}

#ref{
    font: bold;
    font-size: small;
}

h6{
    font: bold;
    font-size: small;
}

#rt{
    transform: rotate(-90deg);
    color: darkkhaki;
}
#desc-right{
    display: flex;
    flex-direction: column;
    width : 60%;
}

#list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vh;
}

.list1{
    display: flex;
    flex-direction: row;
}

.num{
    display: flex;
    box-sizing: border-box;
    background-color: white;
    width: 4vw;
    height: 4vw;
    font-weight: 600;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    color: darkkhaki;
}


#bottom{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 6vw;
    padding-right: 6vw;
    background-color: gainsboro;
}

#play{
    font-size: small;
    color: darkkhaki;
}

#books{
    display: flex;
    flex-direction: row;
    gap : 2vw;
    flex-wrap : wrap; 
    justify-content: left;
    align-items: left;
}
.booktitle img{
    width : 150px;
    height : 200px;
}
.booktitle{
    width: 150px;
    height : 330px;
    color: rgb(75, 96, 117);
    
}
.artist p{
    font: italic;
}


@media screen and (max-width: 805px) {

    #searchbar{
        flex-wrap : wrap;
        gap: 0;
    }
    #heading{
        width : 300px;
    }
    input{
        width: 25vw;
        height: 3.4vw;
    }
    button{
        margin-left: 1vw;
        width: auto;
        height: 4vw;
        font-size: 2vw;
    }
    #mid{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
    #desc{
        display: flex;
        align-items: left;
        width: 100%;
    }
    
    #desc-left{
        position: relative;        
    }
    .num{
        width: 5vh;
        height: 5vh;
        font-weight: 600;
        font-size: 4.5vw;
    }
    #list{
        gap: 3vw;
  
    }
}